body {
    background-color:black;
}

main {
    background-color: #F1F2F2;
    margin: 10px 300px;
    border: 5px;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
}


.headerimg {
    width: 100%; 
    max-width: 100%;
}

nav {
    
    display:flex;
    justify-content: flex-end;
    
}


img {
    max-width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 120px;
}

h1 {
        font-size: 68px;
        margin: auto;
}

h2 {
    font-size: 1em;
    font-family: Arial, sans-serif;

}

.pagetitle {
    display: flex;
    flex-direction:column;
    align-items:center;

    
}
.step1, .step2, .step3, .step4 {
align-items: left;
justify-content: left;
padding: 5px;
font-family: Arial, sans-serif;
font-weight: lighter;
font-size: 1em;
text-transform: uppercase;
}

ul {
    text-decoration: none;
    list-style-type: none;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;

}

li {
   color: black;
    font-weight:lighter;
    font-style:normal;
    font-size: 1.15em;
    font-family: Arial, sans-serif;
}


button {
    border: 2px solid red;
    background-color: white;
    padding: 18px;
    margin: 8px;
    border-radius: 50px;
    box-shadow: 0 7px #999

}

button:hover {
background-color: #999;


}


.hamburger {

}



footer {
font-family: Arial, sans-serif;
font-size: .85em;
display:flex;
align-self: center;

}